.cart-main {
  background: #f5f5f5bf;
}

.cart-left {
  margin-top: 24px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background: #ffffff;
  border-radius: 8px;
  height: 554px;
}

.cart-right-top {
  margin-top: 24px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  background: #ffffff;
  border-radius: 8px;
}

.cart-right-bottom {
  background: #ffffff;
  border-radius: 8px;
}

.cart-delivery-heading {
  margin-top: 0px;
  margin-left: 20px;
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  color: #1e2228;
  font-weight: bold;
}

.hr-rule {
  border-bottom: 2px dashed #d8d8d8;
}

.rule {
  border-bottom: 2px dashed #d8d8d8;
  width: 40px;
}

.coupon-input-field {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.coupon-input-field input {
  border: none;
  width: 65%;
}

.apply-btn {
  border: none;
  background-color: white;
  padding-left: 20px;
}

.heading {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #231f20;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
  padding-top: 15px;
}

.add-btn {
  background: #ff2c91;
  border: 1px solid #ff2c91;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  width: 244px;
  height: 56px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.detail-sub-text,
.heading-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-sub-text a {
  color: #7f8386;
}

.total-amt {
  color: #231f20;
  font-size: 14px;
  line-height: 120%;
  font-weight: bold;
}

.add-address-btn {
  border: none;
  background-color: white;
  color: #ff2c91;
  font-weight: bold;
}

.select-address {
  background: #ffffff;
  border: 2px solid #ff2c91;
  border-radius: 6px;
  text-align: left;
  width: 50%;
  cursor: pointer;
}

.select-address span span {
  font-size: 14px;
  line-height: 16px;
  color: #1e2228;
  font-weight: bold;
}

.new-address {
  text-align: left;
  padding-left: 15px;
}

.deliver-button {
  border: 1px solid #ff2c91;
  background-color: #ff2c91;
  font-weight: bold;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.fields {
  padding: 0px 0px 15px 0px;
}

.add-field-custom {
  margin: 0px 12px 0px 0px;
  padding: 5px 0px 5px 10px;
  width: 48%;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}

.select-address:onfocus {
  border: 4px solid #ff2c91;
}
