.me-auto .custom-nav-link{
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
}


.left-part .navbar-nav .custom-nav-link.active{
    color: #6a1491;
}

.navbar{
    width: 100%;
    background-color: rgb(163, 112, 214);
}

.nav-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn{
    color:white;
    border:none;
    border-radius: 5px;
    font-weight: bold;
    background-color:#ff1493;
}

.offers-text{
    color: white;
    font-size: 18px;
    font-weight:bold;
    cursor: pointer;
}