.me-auto .custom-nav-link{
    color: white;
    font-size: 17px;
    font-weight: bold;
}

/* .navbar-nav .me-auto .custom-nav-link .active{
    color: #ff1493;
} */

.nav-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn{
    color:white;
    border:none;
    border-radius: 6px;
    font-weight: bold;
    background-color:#ff1493;
}

.offers-text{
    color: white;
    font-size: 18px;
    font-weight:bold;
    cursor: pointer;
}