.footer-bottom-main{
    padding: 40px;
}

.footer-list-heading{
    font-size: 18px;
    line-height: 21px;
    color: #1E2228;
    font-weight: bold;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 20px;
}

.footer-list-item{
    list-style:none;
    text-align: left;
}

.footer-list-item a{
    margin-bottom: 10px;
    font-size: 14px;
    color: #1E2228;
    text-decoration: none;
}

.footer-list-item a:hover {
    text-decoration: underline;
}

.left-bottom{
    margin-top: 20px;
    text-align: left;
    padding-left: 1rem;
}

.footer-right-subheading{
    font-size: 18px;
    line-height: 21px;
    color: #1E2228;
    font-weight: bold;
}

.right-top, .right-bottom{
    text-align: left;
}
.footer-right-icons{
    margin: 10px 0 20px 0;
    cursor: pointer;
}
.footer-right-icons img{
    margin-right: 10px;
    cursor: pointer;
}



/* .info{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-link-heading{
    font-size: 18px;
    font-weight: bold;
}

.list-items{
    font-size: 16px;
    list-style-type: none;
}

.list-items a{
    text-decoration: none;
    color: black;
}

.list-items a:hover{
    text-decoration: underline;
    color: black;
}

ul{
    padding-left:0px !important;
}

.footer-bottom-main{
    padding-top: 45px;
    padding-bottom: 45px;
}

.left-part, .right-part {
    display: block;
    align-items: left;
}

.left-bottom{
    padding-top: 30px;
    padding-left: 11px;
    text-align: left;
}

.right-top, .right-bottom{
    text-align: left;
    padding-bottom: 30px;
    padding-left: 8px;
}

.footer-right-icons img{
    margin-right: 20px;
} */
