.register-main{
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.main-btn{
    color:white;
    border-style: hidden;
    border-radius: 8px;
    background-color:#ff1493;
    height:50px;
    width:370px;
}
.text-pink{
    color: #ff1493;
    text-decoration: none;
}
.text-right{
    text-align: right;
    font-size: small;
}
.size-bold{
    font-weight: bold;
}